@media all and (max-width: 770px){
	.banner-text h1{
		font-size: 44px;
	}
	.banner-btn a{
		display: block;
		margin: 12px auto;
	}
	.title-text h1{
		font-size: 30px;
	}
	.features{
		flex-basis: 100%;
	}
	.feature-img{
		flex-basis: 100%;
	}
	.feature-img img{
		width: 100%;
	}
	.single-Service{
		flex-basis: 100%;
		margin-bottom: 30px;
	}
	.Service-decs p{
		font-size: 16px;

	}
	hr{
		margin: 10px auto;
	}
	.Service-decs{
		width: 60%;
	}
	.Service-decs h3{
		font-size: 30px;
	}
	.testimonial-col{
		flex-basis: 100%;
	}
	.footer-left {
		flex-basis: 100%;
		font-size: 25px;
	}
	.footer-right{
		flex-basis: 100%;
		text-align: left;
		font-size: 25px;
	}
}